{% extends 'home/index.html.twig' %}

{% block title %}QLEAQ | Connexion{% endblock %}

{% block content %}


    {% if is_granted('ROLE_USER') %}



    {% else %}

        <div class="columns is-centered section">
            <div class="column is-one-third box">

                <h1 class="title has-text-primary has-text-centered">
                    Connexion
                </h1>

                <form method="post" class="is-centered section">

                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="email" name="email" id="inputEmail" placeholder="Email" required autofocus>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <br>

                    {% include 'includes/flash_message.html.twig' %}

                    <div class="field">
                        <p class="control">
                            <button class="button is-info" type="submit">
                                Connexion
                            </button>
                        </p>
                    </div>

                </form>
            </div>
        </div>

    {% endif %}







{% endblock %}

