{% extends 'security/login.html.twig' %}

{% block title %}Hello DossierController!{% endblock %}

{% block content %}
    <div id="file-js-example" class="file has-name">
        <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choisisez un ficher…
      </span>
    </span>
            <span class="file-name">
      vide
    </span>
        </label>
    </div>

    <script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }
    </script>
{% endblock %}
