{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Espace d'administration{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_ADMIN') %}



            <section class="hero is-medium is-dark is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Bonjour {{ app.user.prenom }} {{ app.user.nom }} !
                        </h1>
                        <h2 class="subtitle">
                            Bienvenue sur votre espace d'aministration
                        </h2>
                    </div>
                </div>
            </section>


            <section class="section">

                {% include 'includes/InfoNomade.html.twig' with {nomades: nomade} %}

            </section>




        {% else %}


            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>


        {% endif %}

    </section>





{% endblock %}