<div class="column" style="justify-content: space-between;display: flex">

    <a class="button is-primary is-outlined" href="{{ path('nomade_presentation') }}"> <strong>Accueil Locataire</strong></a>

    <div class="button">
        <span>Filtres</span>
        <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
    </div>

</div>



<div class="column" style="align-items: end;justify-content: center;display: flex">


    <label class="has-text-centered has-text-weight-bold" for="">
        Loyer
        <div class="control" style="margin: 0 .20rem">

            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static has-text-weight-normal">
                        Max
                    </a>
                </p>
                <p class="control">
                    <input class="input" type="text">
                </p>
            </div>

            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static has-text-weight-normal">
                        Min
                    </a>
                </p>
                <p class="control">
                    <input class="input" type="text">
                </p>
            </div>

        </div>
    </label>


    <label class="has-text-centered has-text-weight-bold" for="">
        Superficie
        <div class="control" style="margin: 0 .20rem">

            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static has-text-weight-normal">
                        Max
                    </a>
                </p>
                <p class="control">
                    <input class="input" type="text">
                </p>
            </div>

            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static has-text-weight-normal">
                        Min
                    </a>
                </p>
                <p class="control">
                    <input class="input" type="text">
                </p>
            </div>

        </div>
    </label>

    <div class="field has-addons" style="justify-content: center">
        <p class="control">
            <a class="button is-info">
                Rechercher
            </a>
        </p>
    </div>

</div>