<section class="section">

    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">

                <h1 class="title">
                    Vous n'avez pas encore de favoris !
                </h1>

                <div class="column">
                    <h2 class="subtitle">
                        Vous souhaitez ajouter des annonces à vos favoris ?<br>
                        C'est par ici :
                    </h2>
                    <a class="button is-primary is-outlined" href="{{ path('nomade_home') }}"> <strong>Visiter la page d'annonces</strong></a>
                </div>

            </div>
        </div>
    </section>

</section>