{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Accueil Locataire{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_USER') %}



            <section class="hero is-medium is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Bonjour {{ app.user.prenom }} {{ app.user.nom }} !
                        </h1>
                        <h2 class="subtitle">
                            Bienvenue sur votre espace Locataire
                        </h2>
                    </div>
                </div>
            </section>

            <section class="section">

                <a class="button is-primary is-outlined" href="{{ path('nomade_presentation') }}"> <strong>Accueil Locataire</strong></a>

                <h2 class="subtitle is-3">Annonces hébergement :</h2>

                <hr style="border:black 1px solid">

                <div class="columns is-centered">
                    {% include 'includes/flash_message.html.twig' %}
                </div>

                {% if noAnnonces == false %}
                    <div class="columns is-centered is-vcentered">
                        <article class="message is-info">
                            <div class="message-header">
                                <p>Oops !</p>
                                <button class="delete" aria-label="delete"></button>
                            </div>
                            <div class="message-body">
                                <p>
                                    Malheureusement, il n'y a encore aucune annonces de publiées... <br>
                                    A très vite !
                                </p>
                            </div>
                        </article>
                    </div>
                {% endif %}

                <div class="columns is-centered">

                    <div class="column">

                        <div class="">{% include('includes/listeAnnonces.html.twig') %}</div>

                    </div>

                    <div class="column is-one-fifth box is-fullheight">

                        <div class="">
                            {#                        {% include('includes/listeAnnonces.html.twig') %}#}
                        </div>

                    </div>

                </div>



            </section>




        {% else %}

            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>

        {% endif %}

    </section>





{% endblock %}