{% extends 'home/index.html.twig' %}

{% block title %}
    {% include 'includes/qleaq_title.html.twig' %}Offres Qleaq
{% endblock %}


{% block content %}



    <section class="section is-medium" style="background: #fafafa;">

        <div class="columns is-vcentered">

            <div class="column textes-presentation-nomade">
                <h2 class="title is-1 box has-background-primary has-text-white">Offres</h2>

                <a class="button is-primary" href="https://docs.google.com/forms/d/e/1FAIpQLScO6GviGqYKlqSIYwDY-AaXN-LH7pUapnJwC6WzdVzcs3YFfQ/viewform" target="_blank">Déposer mon dossier</a>

            </div>

        </div>

    </section>


{% endblock %}
