{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Annonceurs{% endblock %}

{% block content %}

    <section class="section footer-sections" style="text-align: center;">

        <h1>Annonceurs</h1>

        <div class="column" style="width: 75%;margin: auto;">

        </div>

    </section>

{% endblock %}