{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}CGU/CGV{% endblock %}

{% block content %}


    <section class="section footer-sections" style="text-align: center;">

        <h1>Conditions général d'utilisation / de vente</h1>

        <div class="column" style="width: 75%;margin: auto;">

        </div>

    </section>

{% endblock %}