{% extends 'home/index.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block content %}

    <section class="section footer-sections" style="text-align: center;">

        <h1>Mentions Légales</h1>

        <div class="column" style="width: 75%;margin: auto;">

            <p>Exploitation du site Qleaq par : </p>

            <p>  L'Entreprise Individuelle dirigée par Monsieur Miguel MEUNIETY </p>

            <p>  dont le Siège Social se situe à : </p>

            <p> LES PAVILLONS SOUS BOIS (Paris-Ile de France) </p>

            <p>  N° SIRET : 819 476 979 00011 - APE (5520 Z) </p>

            <p>  Activité Hébergement </p>

            <p>  Qleaq est une offre commerciale développée par la société en formation - SAS Qleaq Company </p>

            <p>  Ligne éditoriale : Miguel MEUNIETY </p>

            <p>  Les photos utilisées à des fins commerciales sont entièrement libres de droits. </p>

            <p>  Mr MEUNIETY ne pourrait donc, être tenu pour responsable en cas de litiges liés aux questions de droits d'auteur. </p>

            <p>  Site hébergé par Ovh.com </p>

            <p>  Le Graphisme et les outils de la plateforme sont mis à disposition de Qleaq Service dans le cadre de son développement commercial mais restent néamoins la propriété exclusive de Ovh.com.</p>
        </div>


    </section>





{% endblock %}
