{% extends 'header/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Partenariats{% endblock %}

{% block content %}


    <section class="section footer-sections" style="text-align: center;">

        <h1>Partenariats</h1>

        <div class="column" style="width: 75%;margin: auto;">

        </div>

    </section>

{% endblock %}