{% extends 'header/index.html.twig' %}

{% block title %}QLEAQ | Presse{% endblock %}

{% block content %}

    <section class="section footer-sections" style="text-align: center;">

        <h1>Presse</h1>

        <div class="column" style="width: 75%;margin: auto;">

        </div>

    </section>

{% endblock %}
