
div.layer
{
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3981793400954131) 15%, rgba(255,255,255,0.6026611328125) 30%, rgba(255,255,255,0.6978992280505952) 43%, rgba(255,255,255,0.8015406846332283) 55%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

section.vh
{
  min-height: 90vh;
}

div.lien_proprio
{
  background: center no-repeat  url("../images/proprio2.jpg");
  background-size: cover;
}
div.lien_nomade
{
  background: center no-repeat url("../images/nomade3.jpg");
  background-size: cover;
}
div.lien_nomade, div.lien_proprio
{
  //box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  width: 50%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
}

.lien_nomade a, .lien_proprio a
{
  color: rgba(255,255,255,1);
  font-weight: bold;
  transition: 0.3s;
  border-radius:10px;
  height:30%;
  width: 80%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.lien_nomade a:hover, .lien_proprio a:hover
{
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  text-shadow: 0px 0px 3px white;
  border-radius:0px;
}



.lien_nomade a
{
  background: linear-gradient(to bottom, #5d94d8 0%,#006eaa 50%,#5d94d8 100%);
}
.lien_nomade a:hover
{
  background: rgba(54,110,170,0.5);
}




.lien_proprio a
{
  background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#f07146 100%);
}
.lien_proprio a:hover
{
  background: rgba(236,103,57,0.5);
}





div.buttons_home
{
  display:flex;
  flex-direction:row;
  height:90vh;
  margin: auto;
}




section.nomade
{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
section.nomade p
{
  width: 50%;
  margin: auto;
}


section.proprio
{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}


p.control
{
  display: flex;
  flex-direction: column;
}

div.register label
{
  color: #006eaa;
}

footer a
{
  color: white;
}

select::placeholder{
  color: #dfdfdf;
}

footer div
{
  width: 70%;
  margin: auto !important;
}

footer div div
{
  display: flex !important;
  flex-direction: column !important;
  width: 20%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
footer div div a
{
  width: auto;
  transition: 0.2s;
}

.footer-sections
{
  min-height: 80vh;
  background:#006eaa;
  //justify-content: center;
  //align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-sections h1
{
  font-size: 2rem;
  font-weight: bold;
}
.footer-sections p
{
  margin: 15px 0;
}

.textes-presentation-nomade
{
  justify-content: space-evenly !important;
  align-items: center !important;
  display: flex !important;
  flex-direction: column;
  //background-color: rgba(0,110,170,0.3);
  border-radius: 4px;
}





@media (max-width: 1000px)
{
  div.buttons_home
  {
    flex-direction:column;
    height:80vh;
    margin: auto;
    justify-content: space-evenly;
  }
  div.lien_nomade, div.lien_proprio
  {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 3px;
    width: 100%;
    height: 45%;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  .lien_nomade a, .lien_proprio a
  {
    font-size: 1.7rem;
  }
  nav.navbar
  {
    box-shadow: none;
  }

}

//.navbar-item img
//{
//  height: 100px;
//  max-height: none;
//}

//$primary: #ec6739;
$primary: #006eaa;
//$success: rgba(236,103,57,1);
$info : rgba(236,103,57,1);
$navbar-item-color:#006eaa;
$navbar-item-hover-color:#ec6739;
//$link: #006eaa;
//$link-hover: #ec6739;
$footer-background-color:#006eaa;
//$dropdown-content-background-color :#006eaa;

// Importer Bulma
@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";