{% extends 'home/index.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block content %}

    <h1>Ajoutez un produit</h1>

    {{ form_start(form) }}

{#        <a href="{{ asset('uploads/brochures/' ~ product.brochureFilename) }}">View brochure (PDF)</a>#}
        {{ form_row(form.brochure) }}

    {{ form_end(form) }}

{% endblock %}
