Une demande de publication pour l'annonce suivante à été effectuée :

<h2>{{ annonce.titre }}</h2>

<a class="button" href="{{ url('proprio_annonce_confirmation', {id: annonce.id}) }}">Valider la publication</a>
