<h1>Réinitialisation de votre mot de passe</h1>

<p>
    Bonjour {{ proprio.raisonsocial }},<br>
    Pour pouvoir réinitialiser votre mot de passe, accédez au lien suivant:
    <a href="{{ url('reset_password_proprio', {id: proprio.id, token: proprio.securityToken}) }}">
        {{ url('reset_password_proprio', {id: proprio.id, token: proprio.securityToken}) }}
    </a>
</p>