<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}| QLEAQ{% endblock %}</title>
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,900,900i&display=swap" rel="stylesheet">
        <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">
    </head>

        <body>

        <div class="layer"></div>

        {% block body %}

            <header>
                {% block header %}{% endblock %}
            </header>
            {% block content %}{% endblock %}

        {% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
