<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}| QLEAQ{% endblock %}</title>
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,900,900i&display=swap" rel="stylesheet">
        <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">
    </head>

        <body>

        <div class="layer"></div>

        {% block body %}

            <header>
                {% block header %}{% endblock %}
            </header>
            {% block content %}{% endblock %}

        {% endblock %}

        {% block javascripts %}{% endblock %}

    </body>

    <footer class="footer" style="position: relative;bottom:0 ;width: 100%;">
        <div class="content has-text-centered">
            <button class="button is-primary">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span><a href="https://twitter.com/MigMnty" target="_blank">Twitter</a></span>
            </button>
            <button class="button is-primary">
                <span class="icon">
                  <i class="fab fa-facebook"></i>
                </span>
                <span><a target="_blank" href="https://www.facebook.com/Qleaq.Officiel/">Facebook</a></span>
            </button>
            <button class="button is-primary">
                <span class="icon">
                  <i class="fab fa-youtube"></i>
                </span>
                <span>Youtube</span>
            </button>
            <button class="button is-primary">
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span>
                <span><a  target="_blank"href="https://www.instagram.com/Qleaq_Officiel/">Instagram</a></span>
            </button>
            <button class="button is-primary">
                <span class="icon">
                  <i class="fab fa-linkedin"></i>
                </span>
                <span><a  target="_blank"href="https://au.linkedin.com/company/qleaq-officiel">Linkedin</a></span>
            </button>

        </div>
    </footer>

</html>
