{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Accueil Propiétaire{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_PROPRIO') %}



            <section class="hero is-medium is-info is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Bonjour {{ app.user.raisonsocial }} !
                        </h1>
                        <h2 class="subtitle">
                            Bienvenue sur votre espace Propriétaire
                        </h2>
                    </div>
                </div>
            </section>

            <section class="section">



                <a href="{{ path('proprio_add_annonce') }}">Ajouter une annonce</a>

            </section>


        {% else %}

            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>

        {% endif %}

    </section>





{% endblock %}