{% extends 'home/index.html.twig' %}

{% block title %}
    {% include 'includes/qleaq_title.html.twig' %}Presentation Propriétaire
{% endblock %}


{% block content %}
    <section class="hero">
        <div class="hero-body is-info">PRESENTATION PROPRIETAIRE</div>
    </section>
{% endblock %}

{% block footer %}
    {% include('includes/footer_proprietaire.html.twig') %}
{% endblock %}
